*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #66b8bd;
}

.caixaCadastro{
    width: 100vw;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    border-radius: 90px 0 0 0;
    position: fixed;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixaTexto{
    width: 90%;
    height: 40px;
    background-color: rgb(255, 249, 249);
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #427d80;
    font-size: 16px;
    padding-left: 10px;
}
::placeholder{
    color: #427d80b0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.lblInformações{
    font-family: Arial, Helvetica, sans-serif;
    color: #427d80;
    margin-left: 2%'';
    font-weight: bold;
}

.login{
    font-family: Arial, Helvetica, sans-serif;
    color: #427d80;
    margin-top: 10%;
}

.botao{
    width: 75vw;
    height: 40px;
    background-color: #427d80;
    color:  #bcfff0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin-top: 15%;

}

.link{
    margin-top: 10px;
    color: #427d80;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 35%;
}


.email{
    width: 90vw;
    height: 70px;
    margin-left: 50px;
    margin-top: 20%;
}

.senha{
    width: 90vw;
    height: 70px;
    margin-left: 50px;
    margin-top: 10%;
    
}

.caixaTopo{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 200px;
    height: 200px;
    margin-left: 20px;
}
